<div class="container">
    <div class="intro">
        <div class="avatar">
            <% if (theme.friends !== undefined && theme.friends.length > 0) { %>
                <!-- friends list from _config.yml -->
                <% theme.friends.forEach(url => { %>
                <span>
                <a href="<%- url.href %>" title="<%- url.name %>"> <img src="<%- url.avatar %>" class="<%- url.class %>"> </a>
                &nbsp;
                </span>
            <% }); %>
            <% } %>
        </div>
    </div>
</div>
